body {
  overflow: hidden;
}

legend {
  text-align: center;
  font-weight: bold;
}

button {
  margin: auto 0.25rem;
}

.auth,
.chat,
.main-chat {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.logo {
  max-width: 3rem;
  margin-right: 1rem;
}

.pointer {
  cursor: pointer;
}

.auth .header {
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto;
}

.footer {
  text-align: center;
  margin-top: 2rem;
}

.close {
  margin-top: 0.25rem !important;
}

.chat .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.main-chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.list {
  flex: 1;
  overflow-y: scroll;
}

.search-form {
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

.back-btn {
  margin: 0 1rem;
  font-weight: bold;
}

.message {
  width: 90%;
  max-width: 600px;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-right: auto;
  text-align: left;
}

.right {
  margin-left: auto;
  text-align: right;
}

.text,
.date {
  margin: 0 0;
  align-self: end;
}

.text {
  flex: 1;
  text-align: left;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 10%;
}

#toast.show {
  visibility: visible;
  -webkit-animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
  animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
}

#toast.error {
  color: tomato;
}

#toast.info {
  color: skyblue;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 10%;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 10%;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
