<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mchat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main class="container">
        <p><a id="login" href="/login">login</a> to start using application</p>
        <p><a id="register" href="/register">register</a> if you don't have an account</p>
    </main>
    <script src="/static/js/app.js" type="module"></script>
</body>
</html>
